@{
	ViewBag.Title = "Administration Panel";
}

<h1 class="text-center display-2">Administration Panel</h1>
<div class="container">
	<div class="col-md-6 mx-auto d-flex align-items-center gap-3">
		<a asp-action="ListOrders" class="btn btn-primary w-50">Order List</a>
		<a asp-action="ListCategories" class="btn btn-primary w-50">Categories List</a>
	</div>
</div>
