@using TechStoreMVC.Models.Order
@model OrderStatusModel
@{
	ViewData["Title"] = "Change Order Status";
}

<h1 class="text-center">Changing Order Status for Order #@Model.Id</h1>

@if (TempData["Message"] != null)
{
	<div class="alert alert-@TempData["MessageType"]" role="alert">
		@TempData["Message"]
	</div>
}

<form asp-action="ChangeStatus" asp-controller="Order" class="col-md-6 mx-auto p-4 shadow rounded bg-dark mt-3">
    <h4 class="text-center mb-4">Update Order Status</h4>
    <div class="form-group mb-3">
        <label asp-for="Status" class="form-label"></label>
        <select asp-for="Status" class="form-select">
            <option value="New">New</option>
            <option value="Processing">Processing</option>
            <option value="Shipped">Shipped</option>
            <option value="Delivered">Delivered</option>
            <option value="Cancelled">Cancelled</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group d-flex justify-content-between mt-4">
        <input asp-for="Id" type="hidden" />
        <a asp-action="ListOrders" asp-controller="Administration" class="btn btn-outline-light">Back</a>
        <div>
            <a asp-action="Details" asp-controller="Order" asp-route-orderId="@Model.Id" class="btn btn-outline-secondary">Order Details</a>
            <button type="submit" class="btn btn-outline-primary">Update Status</button>
        </div>
    </div>
</form>
